[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Python-Dotenv = "*"
LESSCpy = "*"
CSSMin = "*"
JSMin = "*"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
Flask-Assets = "*"
Psycopg2-Binary = "*"
WTForms = "*"

[requires]
python_version = "3.7"
