[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Lesscpy = "*"
CSSMin = "*"
JSMin = "*"

[packages]
Flask = "*"
Flask-Assets = "*"
Python-Dotenv = "*"
Faker = "*"
Requests = "*"

[requires]
python_version = "3.8"
