<nav class="navigation-default">
  <div class="nav-wrapper">
    <div class="left-nav">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/>
      <a href="{{ url_for('landing_bp.home') }}">Home</a>
      <a href="{{ url_for('landing_bp.about') }}">About</a>
      <a href="{{ url_for('landing_bp.etc') }}">Etc</a>
    </div>
    <div class="right-nav">
      <a href="{{ url_for('account_bp.user_profile') }}">My Account</a>
    </div>
  </div>
</nav>
