<nav class="navigation-default">
  <div class="nav-wrapper">

    <div class="left-nav">
      <a href="{{ url_for('home_bp.home') }}">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/>
      </a>
        <a href="{{ url_for('home_bp.home') }}">Home</a>
        <a href="{{ url_for('home_bp.about') }}">About</a>
        <a href="{{ url_for('home_bp.contact') }}">Contact</a>
    </div>

    <div class="right-nav">
      {% if request.blueprint != 'profile_bp' %}
        <a href="{{ url_for('profile_bp.user_profile') }}">My Account</a>
      {% else %}
        <a href="{{ url_for('home_bp.home') }}">Logout</a>
      {% endif %}
    </div>

  </div>
</nav>
