<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{{ title }} | Flask Blueprint Tutorial</title>
  <meta name="description" content="Structure your Flask apps in a scalable and intelligent way using Blueprints."/>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <meta name="theme-color" content="#5eb9d7"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon"/>
  <meta property="og:site_name" content="{{ title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:description"  content="Structure your Flask apps in a scalable and intelligent way using Blueprints."/>
  <meta property="og:url" content="https://flaskblueprints.hackersandslackers.app/"/>
  <meta name="twitter:title" content="{{ title }}"/>
  <meta name="twitter:description" content="Structure your Flask apps in a scalable and intelligent way using Blueprints."/>
  <meta name="twitter:url" content="https://flaskblueprints.hackersandslackers.app/"/>
  <meta name="twitter:site" content="@hackersslackers"/>
  <meta name="twitter:creator" content="@toddrbirchard"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image" content="https://cdn.hackersandslackers.com/2021/08/flaskblueprints.jpg"/>
  <meta property="og:image" content="https://cdn.hackersandslackers.com/2021/08/flaskblueprints.jpg"/>
  <meta property="og:image:width" content="1000"/>
  <meta property="og:image:height" content="523"/>
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
  <link href="{{ url_for('static', filename='dist/css/style.css') }}" rel="stylesheet" type="text/css">
  {% block pagestyles %}{% endblock %}
</head>

<body class="{{ template }}">
  {% block content %}{% endblock %}
  {% include 'analytics.jinja2' %}
</body>

</html>
